.graph-new {
  width: 100%;
  // height: 130vh;
}



.GraphCreateHeader {
  // background-color: palevioletred;
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  // border: 1px solid #fff;
  display: flex;
  margin-top: 30px;


    &__month {
      @include set;
    }

    &__day {
      // background-color: powderblue;
      height: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
    }
}


.GraphCreateMain {
  // background-color: slateblue;
  width: 1200px;
  margin: 0 auto;
  @include display;

  .GraphCreateMainLeft {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    overflow: scroll;

    &__time {
      height: 50px;
      margin: 0 auto;
      display: flex;

      &__times {
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }

      &__points {
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    }
  }




  .GraphCreateMainRight {
    width: 600px;
    height: 700px;

    &__food {
      display: flex;
      font-size: 20px;


      &__breakfast {
        @include food;

      }

      &__lunch {
        @include food;
      }

      &__dinner {
        @include food;
      }

      &__snack {
        @include food;
      }

      &__points {
        @include food;
      }
    }

    &__point {
      width: 600px;
      height: 300px;
      margin-top: 20px;
      border: 1px solid #fff;

    }
  }
}



.GraphCreateForm {
  height: 130px;
  width: 1200px;
  margin: 0 auto;

  &__send {
    height: 70px;
    width: 300px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #fff;
  }
}



//__________________________________________________________________________________________________


// .star-rating {
//   font-size: 0;
//   white-space: nowrap;
//   display: inline-block;
//   width: 250px;
//   height: 50px;
//   overflow: hidden;
//   position: relative;
//   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
//   background-size: contain;
// }
// .star-rating i {
//   opacity: 0;
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 20%;
//   z-index: 1;
//   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
//   background-size: contain;
// }
// .star-rating input {
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   opacity: 0;
//   display: inline-block;
//   width: 20%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   z-index: 2;
//   position: relative;
// }
// .star-rating input:hover + i,
// .star-rating input:checked + i {
//   opacity: 1;
// }
// .star-rating i ~ i {
//   width: 40%;
// }
// .star-rating i ~ i ~ i {
//   width: 60%;
// }
// .star-rating i ~ i ~ i ~ i {
//   width: 80%;
// }
// .star-rating i ~ i ~ i ~ i ~ i {
//   width: 100%;
// }
// .choice {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   text-align: center;
//   padding: 20px;
//   display: block;
// }
// *,
// ::after,
// ::before {
//   height: 100%;
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   text-align: center;
//   vertical-align: middle;
// }
// body {
//   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// }
// body::before {
//   height: 100%;
//   content: '';
//   width: 0;
//   background: red;
//   vertical-align: middle;
//   display: inline-block;
// }