.GraphIndexHeader

  -# .GraphIndexHeader__mypage
  -#   Mypage
  .GraphIndexHeader__index
    Graph

  .GraphIndexHeader__edits
    .GraphIndexHeader__edits__nickname
      = current_user.nickname
    .GraphIndexHeader__edits__edit
      = icon('fas', 'pastafarianism')
